
@font-face {
    font-family: "My Custom Font";
    src: url('./style/ARCADE.TTF') format("truetype");
}

h1 {
    color: white;
}

#menu {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    z-index: 999;
  }

  #canvas-holder {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

#score-display {
    /* width: 100%; */
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: "My Custom Font";
    align-items: center;
    font-size: 2.5em;
    margin: 30px;
    color: white;
}

#score {
    padding-left: 5px;
    display: inline-block;
    font-family:"My Custom Font";
}
#title {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#startGame {
    border: none;
    font-family: "Spartan", sans-serif;
    color: #4863a0;
    font-size: 1.5em;
    margin-bottom: 15px;

  }


body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Spartan", sans-serif;
    background-image: url("https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
    background-size: cover;
    background-color: #c8dad3;
  }